<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bookmark_manager.name %>
</p>

<%= link_to 'Edit', edit_bookmark_manager_path(@bookmark_manager) %> |
<%= link_to 'Back', bookmark_managers_path %>
